*{
    padding: 0;
    margin: 20px, 0px;
    background-color: black;
}
.galeria{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 3px;
   
}
.imagen{
    width: 300px;
    
}
