
html{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.btn-modern{
    background-color: darkorange;
    border: none;
    border-radius: 5px;
    color: #444442;
    padding: 10px 20px;
    font-size: 40pt;
}
.btn-modern:hover{
    box-shadow: 0 0 20px #e04000c9;
    background-color: rgb(231, 38, 4);
    color: rgb(158, 158, 158);
    transform: translateY(-5px);
    transition: all 0.4s;

}
